$navbgcolor: white;
$navtextcolor: #100a54;
$textcolor: white;
$a: #100a54;
$btndesigncolor: #007bff;
$borderbottom: #e1e5ed;
$spancolor: lightpink;
$aboutcardh1: #100a54;
$fontfamily: "Montserrat", sans-serif;
